<body class="text-center form-control boxLogin">
  <form class="form-signin">
    <img src="https://iguatemi.com.br/brasilia/sites/brasilia/files/2021-05/COCOBAMBU_logo.png" alt="" width="300" height="220">
    <h1 class="h3 mb-3 font-weight-normal">Coco Bambu Project</h1>
    <label for="inputEmail" class="sr-only ">Email</label>
    <input type="email" id="inputEmail" class="form-control tamBox" placeholder="Email" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control tamBox" placeholder="Senha" required="111">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/Home" (click)="entrar()">Entrar</button>
    <p class="mt-5 mb-3 text-muted">© 2021</p>
  </form>


</body>